.preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 3;
	transition: 1.5s all;
	opacity: 1;
	visibility: visible;
	font-family: 'Roboto Condensed', sans-serif;
}
.preloader.done{
	opacity: 0;
	visibility: hidden;
}
.loader {
	width: 50px;
	height: 50px;
	border: 7px Solid gray;
	border-radius: 50%;
	border-top-color: #ff3f40;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	animation: 1.5s spin infinite linear;
}
.loadname {
	font-size: 25px;
	left: 50%;
	top: 35%;
	position: absolute;
	transform: translate(-50%, -50%);
}
.loadtext {
	font-size: 20px;
	left: 50%;
	top: 38%;
	position: absolute;
	transform: translate(-50%, -50%);
}

@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
@media screen and (max-width: 689px) {
	.loadname {
		top: 30%;
	}
	.loadtext {
		top: 36%;
	}
}
@media screen and (max-width: 360px) {
	.loadname {
		top: 27%;
	}
	.loadtext {
		top: 33%;
	}
}