body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background: #f6f2f2;
}
.menu1 {
	text-decoration: none;
	list-style: none;
	display: flex;
	color: white;
	margin-left: 260px;
	font-size: 18px;
	text-align: center;
	padding-left: 0;
}
.topmenu {
	width: 1038px;
	height: 88px;
	margin-left: 164px;
	margin-top: 29px;
	background-color: #313030;
}
.menu2 {
	padding-left: 25.5px;
	padding-right: 25.5px;
	padding-top: 32px;
	padding-bottom: 32px;
}
.menu2:hover {
	background: #ff3f40;
	cursor: pointer;
}
.topstrong1 {
	font-size: 50px;
	margin-top: 108px;
	position: absolute;
}
#strong2 {
	margin-left: 155px;
}
#strong3 {
	margin-top: 145px;
}
.topcontent {
	margin-left: 163px;
	padding-bottom: 145px;
}
.vidioimg {
	float: right;
	width: 550px;
	margin-top: 30px;
	margin-right: 95px;
}
.strongp {
	margin-top: 235px;
	font-size: 15px;
	color: #6f6d6d;
	width: 470px;
}
.topcontentbutton {
	background-color: #ff2d2d;
	width: 160px;
	height: 40px;
	font-size: 18px;
	border-radius: 6px;
	margin-top: 40px;
}
.topb {
	text-align: center;
	color: #fff;
	padding-top: 7px;
}
.block2 {
	background: #fff;
}
.block2strong {
	padding-top: 109px;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 400;
	color: #585858;
	margin-left: 163px;
}
.block2p {
	width: 470px;
	margin-left: 163px;
}
.block2lm {
	border: 2px solid #ff0000;
	width: 160px;
	height: 40px;
	border-radius: 4px;
	margin-left: 163px;
	margin-top: 40px;
}
.block2btxt {
	font-size: 18px;
	color: #ff0000;
	text-align: center;
	padding: 8px;
}
.icons {
	position: absolute;
}